Repository DFE-Digital/register-early-career-teachers, pull requests merged in 2024-10, with the labels that each got.

#407 Add `cpd-` prefix to deployment name
  .github/actions/deploy-environment-to-aks/action.yml
  .github/workflows/deploy.yml
Labels: Bug :bug:, deploy

#408 Fix incorrect env var name for `PULL_REQUEST_NUMBER`
  .github/workflows/delete_review_app.yml
Labels: Bug :bug:

#405 Add low-fi record induction outcome
  app/controllers/appropriate_bodies/teachers/record_outcome_controller.rb
  app/helpers/appropriate_body_helper.rb
  app/models/pending_induction_submission.rb
  app/services/appropriate_bodies/record_outcome.rb
  app/views/appropriate_bodies/teachers/record_outcome/new.html.erb
  app/views/appropriate_bodies/teachers/record_outcome/show.html.erb
  app/views/appropriate_bodies/teachers/release_ect/new.html.erb
  app/views/appropriate_bodies/teachers/show.html.erb
  config/routes.rb
  db/migrate/20241003132805_add_outcome_field_to_pending_induction_submission.rb
  db/schema.rb
Labels: Deploy

#420 Rename validation contexts so they're consistent
  app/controllers/appropriate_bodies/teachers/release_ect_controller.rb
  app/models/pending_induction_submission.rb
  spec/models/pending_induction_submission_spec.rb
Labels: Refactoring :wrench:

#422 Fix bug where not finding a teacher in TRS causes crash
  app/controllers/appropriate_bodies/claim_an_ect/find_ect_controller.rb
  spec/features/appropriate_bodies/claim_an_ect_spec.rb
  spec/requests/appropriate_bodies/claim_an_ect/find_ect_spec.rb
  spec/support/api/trs/fake_api_client.rb
  spec/support/shared_contexts/fake_trs_api_client.rb
Labels: Bug :bug:

#454 fix: correction to ECT landing page
  app/views/layouts/shared/_head.html.erb
  app/views/school/register_ect/start.html.erb
Labels: Review

#474 Fix terraform version on destroy
  .github/workflows/delete_review_app.yml
  spec/misc/terraform_versions_spec.rb
Labels: Housekeeping :broom:

#466 chore: deploy the review app if files in 'app' folder are touched
  .github/labeler.yml
  .github/workflows/deploy.yml
Labels: Review

#469 Reinstate release ECT button from teacher view page
  app/views/appropriate_bodies/teachers/show.html.erb
Labels: Review

#485 feat: view list of ECTs added to school
  app/controllers/school/register_ect_controller.rb
  app/controllers/schools/home_controller.rb
  app/controllers/schools/register_ect_controller.rb
  app/helpers/school/home_helper.rb
  app/models/concerns/interval.rb
  app/models/ect_at_school_period.rb
  app/services/schools/teacher.rb
  app/services/teachers/name.rb
  app/views/layouts/full.html.erb
  app/views/schools/home/index.html.erb
  app/views/schools/register_ect/start.html.erb
  config/routes.rb
  db/seeds.rb
  spec/models/concerns/interval_spec.rb
  spec/models/ect_at_school_period_spec.rb
  spec/services/schools/teacher_spec.rb
  spec/services/teachers/name_spec.rb
Labels: Review

#566 Move things at start of `<main>` to preamble partial
  app/views/layouts/application.html.erb
  app/views/layouts/full.html.erb
  app/views/layouts/shared/_main_preamble.html.erb
Labels: Housekeeping :broom:
