Repository DFE-Digital/register-early-career-teachers, pull requests merged in 2024-11, with the labels that each got.

#650 Make persona-based AB signin smoother
  app/controllers/sessions_controller.rb
  app/helpers/personas_helper.rb
  app/views/personas/index.html.erb
  db/seeds.rb
Labels: Housekeeping :broom:

#655 Fix typos and add ECF1 / 2 explainer in public roadmap article
  documentation/site/content/product/roadmap/introduction.md
  documentation/site/content/product/roadmap/now.md
Labels: Housekeeping :broom:

#763 Move `caption` to `page_data` so it's not rendered empty
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  app/views/layouts/full.html.erb
  app/views/schools/home/index.html.erb
  spec/helpers/application_helper_spec.rb
Labels: Bug :bug:

#794 Make OmniAuth use Rails logger
  config/initializers/omniauth.rb
Labels: Housekeeping :broom:

#767 Refactoring
  .github/actions/deploy-environment-to-aks/action.yml
  .github/workflows/delete_review_app.yml
  .github/workflows/lint.yml
  app/controllers/schools/register_ect_controller.rb
  app/presenters/schools/teacher_presenter.rb
  app/services/form_data/data_store.rb
  app/services/form_data/wizard_step_store.rb
  app/views/schools/register_ect/review_ect_details.html.erb
  app/wizards/schools/register_ect/base_wizard.rb
  app/wizards/schools/register_ect/check_answers_step.rb
  app/wizards/schools/register_ect/ect.rb
  app/wizards/schools/register_ect/email_address_step.rb
  app/wizards/schools/register_ect/find_ect_step.rb
  app/wizards/schools/register_ect/national_insurance_number_step.rb
  app/wizards/schools/register_ect/not_found_step.rb
  app/wizards/schools/register_ect/review_ect_details_step.rb
  app/wizards/schools/register_ect/step.rb
  app/wizards/schools/register_ect/step_store_handler_factory.rb
  app/wizards/schools/register_ect/store_handlers/default.rb
  app/wizards/schools/register_ect/store_handlers/find_ect.rb
  app/wizards/schools/register_ect/store_handlers/national_insurance_number.rb
  app/wizards/schools/register_ect/store_handlers/review_ect_details.rb
  app/wizards/schools/register_ect/stored_step.rb
  app/wizards/schools/register_ect/wizard.rb
  config/terraform/application/terraform.tf
  lib/session_repository.rb
  lib/trs/api_client.rb
  lib/trs/teacher.rb
  spec/features/schools/register_an_ect/edge_cases/find_teacher_using_national_insurance_number_spec.rb
  spec/features/schools/register_an_ect/edge_cases/teacher_is_not_found_spec.rb
  spec/presenters/schools/teacher_presenter_spec.rb
  spec/support/api/trs/fake_api_client.rb
  spec/support/shared_contexts/fake_trs_api_client.rb
  spec/wizards/schools/register_ect/ect_spec.rb
Labels: Refactoring :wrench:

#789 Pass the appropriate body record into `#sign_in_as`
  spec/requests/appropriate_bodies/claim_an_ect/check_ect_spec.rb
  spec/requests/appropriate_bodies/claim_an_ect/find_ect_spec.rb
  spec/requests/appropriate_bodies/claim_an_ect/register_ect_spec.rb
  spec/requests/appropriate_bodies/teachers/index_spec.rb
  spec/support/requests/auth_helper.rb
Labels: Refactoring :wrench:

#817 Fix release flow confirmation page
  app/controllers/appropriate_bodies/teachers/release_ect_controller.rb
  app/views/appropriate_bodies/teachers/release_ect/show.html.erb
  spec/features/appropriate_bodies/record_failed_outcome_spec.rb
  spec/features/appropriate_bodies/record_passed_outcome_spec.rb
  spec/features/appropriate_bodies/release_an_ect_spec.rb
  spec/spec_helper.rb
Labels: Bug :bug:

#849 Fix pass and fail recording for appropriate bodies
  app/controllers/appropriate_bodies/teachers/record_failed_outcome_controller.rb
  app/controllers/appropriate_bodies/teachers/record_passed_outcome_controller.rb
  app/views/appropriate_bodies/teachers/record_failed_outcome/show.html.erb
  spec/features/appropriate_bodies/record_failed_outcome_spec.rb
  spec/features/appropriate_bodies/record_passed_outcome_spec.rb
Labels: Bug :bug:
