Repository DFE-Digital/register-early-career-teachers, pull requests merged in 2024-12, with the labels that each got.

#852 Fix guidance select buttons on the AB claim flow
  app/assets/javascripts/application.js
  app/assets/javascripts/autocomplete.js
  app/assets/javascripts/populate-find-ect-form.js
  app/components/test_guidance_component.rb
  app/javascript/application.js
  app/javascript/populate-find-ect-form.js
  app/views/appropriate_bodies/claim_an_ect/find_ect/new.html.erb
  db/seeds.rb
  package.json
Labels: Housekeeping :broom:

#840 [764]: find a mentor to add for an ect at your school using TRN and NINo
  app/views/schools/register_mentor/national_insurance_number.html.erb
  app/views/schools/register_mentor/not_found.md.erb
  app/views/schools/register_mentor/trn_not_found.html.erb
  app/views/schools/register_mentor/trn_not_found.md.erb
  app/wizards/schools/register_mentor/national_insurance_number_step.rb
  app/wizards/schools/register_mentor/not_found_step.rb
  app/wizards/schools/register_mentor/wizard.rb
  config/routes.rb
  spec/features/schools/register_mentor/edge_cases/find_teacher_using_national_insurance_number_spec.rb
  spec/features/schools/register_mentor/edge_cases/not_found_spec.rb
  spec/features/schools/register_mentor/edge_cases/trn_not_found_spec.rb
  spec/views/schools/register_mentor/national_insurance_number.html.erb_spec.rb
  spec/views/schools/register_mentor/not_found.md.erb_spec.rb
  spec/views/schools/register_mentor/review_mentor_details.html.erb_spec.rb
  spec/views/schools/register_mentor/trn_not_found.md.erb_spec.rb
Labels: Review

#868 Rename `object_id` to `period_id`
  app/components/migration/mentorship_period_component.html.erb
  app/components/migration/mentorship_period_component.rb
  app/components/migration/school_period_component.html.erb
  app/components/migration/school_period_component.rb
  app/components/migration/training_period_component.html.erb
  app/components/migration/training_period_component.rb
Labels: Housekeeping :broom:

#875 Fix Terraform resource names
  config/terraform/application/config/production.tfvars.json
Labels: Bug :bug:

#880 Fix the capitalisation of the Ecf2 module
  config/application.rb
Labels: Housekeeping :broom:
